RewriteEngine On                                                                                                                                                                                                                   
RewriteCond %{REQUEST_FILENAME} !-f                                                                                                                                                                                                
RewriteRule . /notifications/index.php [L]
Options FollowSymLinks
